.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  height: 70px;
  justify-content: space-between;
  justify-items: center;
  color: white;
}

.trybewarts-login {
  display: flex;
  padding: 20px;
}

#trybewarts-header-title {
  width: fit-content;
  margin: 0;
  align-self: center;
}

input {
  margin-right: 7px;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  width: 675px;

  /* justify-content: space-around; */
}

#trybewarts-forms-logo {
  height: 500px;
}

#input-name {
  width: 30%;
  height: 20px;
}

#input-lastname {
  width: 50%;
  height: 20px;
}

#input-email {
  height: 20px;
  width: 50%;
}

#house {
  height: 25px;
  width: 25%;
}

#one , #two , #three , #four , #five , #six , #seven , #eight , #nine , #ten {
  margin: 0;
  padding: 0;
}

#label-rate {
  width: 100px;
}

#avaliation {
  display: flex;
}
